{{#*inline "page"}}
  <div class="auth">
    <div class="page-title">Sign in</div>
    <div class="auth_google">
      <a href="/auth/google">
        <img src="/img/login-with-google.png" class="auth_google_image">
      </a>
    </div>
    OR
    <div class="auth_basic">
      <form action="/signin" method="post">
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <input class="input" type="text" placeholder="Username" name="username">
          </div>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" placeholder="Password" name="password">
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{{/inline}}
{{~> layout ~}}
