{{#*inline "page"}}
  <form class="mui-form" action="/signup" method="post">
    <div class="mui-textfield">
      <input type="text" placeholder="username" name="username">
    </div>
    <div class="mui-textfield">
      <input type="password" placeholder="password" name="password">
    </div>
    <button type="submit" class="mui-btn mui-btn--raised">Submit</button>
  </form>
{{/inline}}
{{~> layout ~}}
