@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

html,
body {
  height: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

header ul.mui-list--inline {
  margin-bottom: 0;
}

header a {
  color: white;
}

#content-wrapper {
  min-height: 100%;
  box-sizing: border-box;
  margin-bottom: -100px;
  padding-bottom: 100px;
}

footer {
  box-sizing: border-box;
  height: 100px;
  background-color: #eee;
  border-top: 1px solid #e0e0e0;
  padding-top: 35px;
}
footer {
  margin-top: 40px;
  background: white;
  border: 0px;
}
.appbar-height {
  height: 90px;
}
.header-title {
  font-size: 26px;
  font-weight: 700;
}
.header-ul {
  font-size: 18px;
}

.post-items {
  list-style: none;
  padding: 0px;
}
.post-items li {
  margin-bottom: 10px;
  display: flex;
}

.post-item-left {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.post-item-right {
  display: inline-block;
  vertical-align: top;
}
.user-icon {
  width: 50px;
  border: 1px solid #CCC;
  border-radius: 10px;
}
.post-username {
  font-size: 13px;
  color: gray;
}
.post-title {
  font-size: 20px;
}
.post-button {
  margin-bottom: 20px;
}
.post-action {
  margin-top: 10px;
  margin-bottom: 10px;
}
.input-title {
  font-size: 30px !important;
  padding-bottom: 20px !important;
  padding-top: 10px !important;
}
.comments {
  margin-top: 40px;
  margin-bottom: 20px;
}
.paginates {
  margin-top: 20px;
}
#marked {
  padding-top: 0px;
  font-size: 1.15em;
}
#marked h1 {
  border-bottom: solid 3px #eee;
  font-size: 1.7em;
  line-height: 1.2;
}
.feed-comment {
  font-size: 14px;
  color: #333;
}
