html, body {
  height: 100%;
}
a {
  color: #000;
}
a:hover {
  color: #3273dc;
}
.site-header {
  border-bottom: 1px solid #eee;
  padding-top: 8px;
  padding-bottom: 8px;
}
.site-title {
  font-size: 20px;
  font-weight: 600;
}
.site-search {
  width: 250px;
  font-size: 12px;
  box-shadow: none;
}
.site-search-black {
  background: #24292e;
  border: #000;
  color: #fff;
}
.site-search-black::placeholder {
  color: #777;
}
.site-footer {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  clear: both;
  padding: 3rem 1.5rem 3rem;
}
.dropdown-menu {
  min-width: 0px;
  padding-top: 0px;
  left: -104px;
}
.contents {
  margin-top: 20px;
}
.navbar {
  z-index: 2 !important;
}
.navbar-light > a:hover {
  background: #f5f5f5 !important;
}
.navbar-black > a:hover {
  background: #0000 !important;
}
.user-icon-btn{
  padding: 0px !important;
  border: none;
  margin-top: 10px !important;
}
.user-icon-btn:focus:not(:active) {
  box-shadow: none;
}
.user-icon-btn-light:hover {
  background: #f5f5f5 !important;
}
.user-icon-btn-black:hover {
  background: #000 !important;
}
a.navbar-item {
  font-weight: 600;
  text-transform: capitalize;
}
.icon-img-normal {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.icon-img-large {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}
.icon-img-small {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

/* post list */
.page-title {
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 20px;
}
.post-items {
  list-style: none;
  padding: 0px;
  margin-top: 10px;
}
.post-items li {
  margin-bottom: 20px;
  display: flex;
}
.post-item-icon {
  margin: 5px;
}
.post-item-body {
  margin-left: 5px;
  width: 100%;
}
.post-item {

}
.post-item-description {
  color: #6a737d;
  font-size: 14px;
}
.post-item-title {
  font-size: 18px;
}
.post-item-tags {
  margin-top: 8px;
  margin-bottom: 8px;
}
.post-item-created {
  color: #6a737d;
  font-size: 12px;
}
.button-new {
  float: right;
}
.auth {
  text-align: left;
}
.auth_google {
  margin-top: 20px;
  margin-bottom: 20px;
}
.auth_basic {
  margin-top: 20px;
  margin-bottom: 20px;
}
.auth_google_image {
  width: 200px;
}
.pagination {
  margin-top: 30px;
}

/* tags */
.tag-name {
  display: inline-flex;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 12px;
  padding-top: 0px;
  padding-bottom: 2px;
  font-size: 15px;
  margin-bottom: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.post-item-info {
  display: flex;
}

.post-item-action {
  float: right;
}
.post-item-stock {
  display: inline-block;
}
.post-item-shared {
  display: inline-block;
}
.post-item-ed {
  display: inline-block;
  margin-top: 3px;
}
.fa-users {
  color: #3273dc;
  font-size: 20px;
  top: 4px;
  position: relative;
  margin-right: 5px;
}
.fa-edit {
  color: #3273dc;
}
.fa-trash-alt {
  color: #3273dc;
}
.post-title {
  font-size: 36px;
}
.post-item-comment {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px;
}
.is-comment {
  padding: 10px;
  height: 50px;
  display: inline-block;
}
.arrow_box {
	position: relative;
	background: #f5f5f5;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.arrow_box:after {
	right: 100%;
	top: 40%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(238, 238, 238, 0);
	border-right-color: #f5f5f5;
	border-width: 10px;
  margin-top: -10px;
}
.notificatioin {
  font-size: 20px;
  margin-top: 18px;
  margin-right: 5px;
}
.notificatioin-light {
  color: black;
}
.notificatioin-black {
  color: white;
}

.has-notification {
  color: red;
}
.post-tweet {
  border-top: 1px solid #EEE;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 0px !important;
}
.post-tweet:hover {
  background: #f8f8f8;
}
.post-tweet-action {
  display: flex;
  color: #aaa;
}
.post-tweet-comment-icon {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 50px;
}
.post-tweet-like-icon {
  margin-top: 8px;
  margin-bottom: 8px;
}
.tweet-body {
  margin-top: 5px;
  font-size: 20px;
}
.tweet-form {
  margin-bottom: 30px;
}
/* Emoji */
.emoji {
  width: 24px;
}
.emoji-suggest {
  width: 20px;
}
ul.textcomplete-dropdown {
  list-style: none;
  padding-left: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background: white;
}

ul.textcomplete-dropdown li.active {
  background: #2196F3 !important;
}

ul.textcomplete-dropdown li.active a {
  color: white;
}

li.textcomplete-item a {
  font-size: 12px;
  text-decoration: none;
}

label.label-file {
  color: #1b69b6;
  cursor: pointer;
  padding: 5px 3px;
  margin-bottom: 10px;
  display: inline-block;
}