@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

html,
body {
  height: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

header ul.mui-list--inline {
  margin-bottom: 0;
}

header a {
  color: white;
  text-decoration: none !important;
}

#content-wrapper {
  min-height: 100%;
  box-sizing: border-box;
  margin-bottom: -100px;
  padding-bottom: 100px;
}

footer {
  box-sizing: border-box;
  background-color: #eee;
  border-top: 1px solid #e0e0e0;
  padding-top: 35px;
}
footer {
  background: white;
  border: 0px;
}
.mui-appbar{
  background: #4285f4;
}
.appbar-height {
  height: 90px;
}
.header-title {
  font-size: 26px;
  font-weight: 700;
  width: 90px;
}
.header-ul {
  font-size: 18px;
}

.post-items {
  list-style: none;
  padding: 0px;
}
.post-items li {
  margin-bottom: 20px;
  display: flex;
}

.post-item-left {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.post-item-right {
  display: inline-block;
  vertical-align: top;
}
.user-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #CCC;
  border-radius: 5px;
  background: black;
}
.post-username {
  font-size: 13px;
  color: gray;
}
.post-item-icon {
  display: table-cell;
  padding-top: 20px;
  padding-bottom: 20px;
}
.post-item-username {
  font-size: 13px;
  color: gray;
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.post-user-icon {
  width: 30px;
  height: 30px;
  border: 1px solid #CCC;
  border-radius: 5px;
  background: black;
}

.post-title {
  font-size: 20px;
}
.post-button {
  margin-bottom: 20px;
}
.post-action {
  margin-top: 10px;
  margin-bottom: 10px;
}
.input-title {
  font-size: 30px !important;
  height: 60px !important;
}
.comments {
  margin-top: 40px;
  margin-bottom: 20px;
}
.paginates {
  margin-top: 20px;
}
#marked {
  padding-top: 0px;
  font-size: 1.15em;
}
#marked h1 {
  border-bottom: solid 3px #eee;
  font-size: 1.7em;
  line-height: 1.2;
}
.feed-comment {
  font-size: 20px;
  color: #333;
}
.search-input {
  border-radius: 3px;
  border: none;
  height: 30px;
  background: #6499ef;
  padding-left: 7px;
  color: white;
  width: 250px;
  border: 1px solid #7daaf2;
}
.search-input::-webkit-input-placeholder {
  color: #EEE;
  font-weight: normal;
}
.search-input:-ms-input-placeholder {
  color: #EEE;
  font-weight: normal;
}
.search-input::-moz-placeholder {
  color: #EEE;
  font-weight: normal;
}
.post-tags {
  margin-top: 0px;
  margin-bottom: 8px;
}
.tag-label {
  background: #d6e5ff;
  border-radius: 5px;
  padding: 10px;
  height: 10px;
  padding-top: 0px;
  padding-bottom: 2px;
  font-size: 13px;
  margin-top: -10px;
}
.tag-label a {
  text-decoration: none !important;
}
h3.tag_name {
  margin-top: 0px;
  margin-bottom: 20px;
}
h3.stock_name {
  margin-top: 0px;
  margin-bottom: 20px;
}
.post-item-stock {
  float: right;
}
.post-item-time {
  margin-bottom: 10px;
}
h1.title {
  margin-top: 0px;
}
.marked {
  padding: 0px;
  margin-top: -20px;
}
.post-comment-body {
  margin-top: 0px;
}
.item-created {
  font-size: 11px;
  color: gray;
}
.feed-item {
  display: flex;
}
.feed-user-icon {
  display: inline-block;
  vertical-align: top;
}
.feed-post {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
.feed-user-icon-img {
  width: 40px;
  height: 40px;
  border: 1px solid #CCC;
  border-radius: 5px;
  background: black;
}
.feed-item-detail {
  display: inline-block;
  font-size: 13px;
  color: gray;
  vertical-align: top;
}
.dropdown-menu {
  cursor: pointer;
}
.header-user-icon {
  border-radius: 3px;
  width: 24px;
  height: 24px;
  background: black;
  border: 1px solid #FFF;
  position: relative;
  top: 6px;
}

.emoji {
  width: 40px;
}

ul.textcomplete-dropdown {
  list-style: none;
  padding-left: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background: white;
}

ul.textcomplete-dropdown li.active {
  background: #2196F3 !important;
}

ul.textcomplete-dropdown li.active a {
  color: white;
}

li.textcomplete-item a {
  font-size: 12px;
  text-decoration: none;
}
.emoji-suggest {
  width: 20px;
}
