{{#*inline "page"}}
  <form class="mui-form" action="/nippo/update" method="post">
    <input type="hidden" name="id" value="{{post.id}}">
    <div class="mui-textfield">
      <input type="text" placeholder="Title" name="title" value="{{post.title}}">
    </div>
    <div class="mui-textfield">
      <textarea name="body" placeholder="body" id="mdeditor" cols="30" rows="10" class="form-control">{{post.body}}</textarea>
    </div>
    <button type="submit" class="mui-btn mui-btn--raised">Update</button>
  </form>
  <script>
    var simplemde = new SimpleMDE({
      element: document.getElementById("mdeditor"),
      spellChecker: false
    });
  </script>
{{/inline}}
{{~> layout ~}}
