<!doctype html>
<html>
  <head>
    {{> meta}}
  </head>
  <body>
    {{> header}}
    <div class="mui-container">
      <div class="mui--appbar-height"></div>
      <ul>
      {{#each nippos}}
        <li>
          <b><a href="/nippo/show/{{id}}">{{title}}</a></b>
        </li>
      {{/each}}
      </ul>
    </div>
    {{> footer}}
  </body>
</html>
