<!doctype html>
<html>
  <head>
    {{> meta}}
  </head>
  <body>
    {{> header}}
    <div id="content-wrapper" class="mui--text-center">
      <div class="mui--appbar-height"></div>
      <br>
      <br>
      <div class="mui--text-display3">Brand.io</div>
      <br>
      <br>
      <button class="mui-btn mui-btn--raised">Get started</button>
    </div>
    {{> footer}}
  </body>
</html>
