<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicons/favicon.ico">
    <meta name="theme-color" content="#24292e">
    <title>{{#> title}}Team{{/title}}</title>
    <link href="/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/bulma.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="/js/jquery-1.11.3.js"></script>
    <script src="/js/pace.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.1/markdown-it.js"></script>
    <link href="/css/highlight.default.min.css" rel="stylesheet" type="text/css" />
    <script src="/js/highlight.min.js"></script>
    <!-- emojify -->
    <script src="/js/emojify.min.js"></script>
    <script src="/js/jquery.textcomplete.js"></script>
    <script src="/js/emoji.js"></script>

    <script src="/js/app.js"></script>
    {{#> page_head}}{{/page_head}}
  </head>
  <body>
    {{> header}}
    <div class="container">
      <div class="contents">
        {{~> page}}
      </div>
    </div>
    {{> footer}}
    <script src="/js/jdenticon.min.js" async></script>
  </body>
</html>
