{{#*inline "page"}}
  <form class="mui-form" action="/post/create" method="post">
    <div class="mui-textfield">
      <input type="text" placeholder="Title" name="title" class="input-title">
    </div>
    <div class="mui-textfield">
      <textarea placeholder="" name="body" id="mdeditor"></textarea>
    </div>
    <button type="submit" class="mui-btn mui-btn--raised">Submit</button>
  </form>
  <script>
    var simplemde = new SimpleMDE({
      element: document.getElementById("mdeditor"),
      spellChecker: false
    });
  </script>
{{/inline}}
{{~> layout ~}}
