{{#*inline "page"}}
  <strong><a href="/post/new">New</a></strong>
  <ul>
  {{#each posts}}
    <li>
      <img src="{{user.icon_url}}" width="50px;">
      <br>
      <b><a href="/post/show/{{id}}">{{title}}</a></b>
    </li>
  {{/each}}
  </ul>
{{/inline}}
{{~> layout ~}}
