{{#*inline "title"}}
  Tags - Team
{{/inline}}
{{#*inline "page"}}
  <div class="page-title">Tags</div>
  {{#each tags}}
    <div class="tag-name">
      <a href="/tag?name={{name}}">{{name}}</a>
    </div>
  {{/each}}
{{/inline}}
{{~> layout ~}}
