{{#*inline "title"}}
  Gist - Team
{{/inline}}
{{#*inline "page_head"}}
{{> gist/head }}
{{/inline}}

{{#*inline "page"}}

  <form id="gist-form" action="/gist/create" method="post">
    <input type="hidden" value="" name="gist-code" id="gist-code">
    <div class="field">
      <div class="control">
        <input type="text" placeholder="Gist description..." name="gist-description" class="input" id="title" required>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input type="text" placeholder="Filename (hello.go)" name="gist-filename" class="input" id="mode" required>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <textarea id="code" name="code" style="display: none;" required></textarea>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button type="button" class="button is-info is-outlined" name='action' onclick="submitFunc()" value="publish">Post</button>
      </div>
    </div>
  </form>

  <script>

    CodeMirror.modeURL = "/codemirror/mode/%N/%N.js";
    
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
      lineNumbers: true,
      styleActiveLine: true,
      matchBrackets: true
    });
    editor.setOption("theme", "blackboard");

    editor.setOption("mode", "text/plain");
    CodeMirror.autoLoadMode(editor, "null");
  
    var modeInput = document.getElementById("mode");
    CodeMirror.on(modeInput, "blur", function(e) {
      change();
    });

    function change() {
      var val = modeInput.value, m, mode, spec;
      if (m = /.+\.([^.]+)$/.exec(val)) {
        var info = CodeMirror.findModeByExtension(m[1]);
        if (info) {
          mode = info.mode;
          spec = info.mime;
        }
      } else if (/\//.test(val)) {
        var info = CodeMirror.findModeByMIME(val);
        if (info) {
          mode = info.mode;
          spec = val;
        }
      } else {
        mode = spec = val;
      }
      if (mode) {
        editor.setOption("mode", spec);
        CodeMirror.autoLoadMode(editor, mode);
      } else {
        editor.setOption("mode", "text/plain");
        CodeMirror.autoLoadMode(editor, "null");
      }
    }

    function submitFunc() {
      var title = document.getElementById("title").value;
      if (title == '') {
        alert("Gist description is empty");
        return;
      }
      document.getElementById("gist-code").value = editor.getValue();
      document.getElementById("gist-form").submit();
    }

  </script>

{{/inline}}
{{~> layout ~}}
